* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-image: url("images/GymBack1.jpg");
}

/* Style the header */
#header {
    color: white;
    padding: 20px;
    text-align: center;
    font-weight: bolder;
}

/* Style the top navigation bar */
#topnav {
    overflow: hidden;
    display: flex;
}

#topnav p{
    color: #dddddd;
}

/* Style the topnav links */
#topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
#topnav a:hover {
    background-color: #ddd;
    color: black;
}

#ExerciseLink{
}
/* Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
    color: #dddddd;
}

/* Left and right column */
.column.side {
    width: 25%;
    text-align: center;
}


/* Middle column */
.column.middle {
    width: 50%;
    text-align: center;
}

.row{
    display: flex;
    height: 100%;
   background-blend-mode:lighten ;
}


/* Clear floats after the columns */
.row::after {
    content: "";
    display: table;
    clear: both;
}

.button {
    border: black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button1 {background-color: green;

}
.button2 {background-color:red;

}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column.side, .column.middle {
        width: 100%;
    }
}

/* Style the footer */
#footer {
    padding: 10px;
   position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    color: #dddddd;
}
